

<h1 style="color:blue;"><%= @welcome %></h1>

<a href="/show_full_ccd.json"><h1 style="color:blue;">See Your **Full** Medical Record</h1></a>

<a href="/show_meds.json"><h1 style="color:blue;">See Current Medications</h1></a>
